body {
    background: url("../img/backgroundhorses.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.p-4.shadow{
    width: 24rem;
}