<!-- history_write.html -->
{% extends "base.html" %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header"><h4>Histórico de Atuações</h4></div>
            <div class="card-body">
                <form action="http://localhost:8081/get_write" method="post">
                    <label for="actuator-select">Atuador:</label>
                    <select id="actuator-select" name="id" class="form-control">
                        {% for actuator in actuators %}
                            <option value="{{ actuator.id }}">{{ actuator.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="start">Início:</label>
                    <input type="datetime-local" id="start" name="start" class="form-control" required />

                    <label for="end">Fim:</label>
                    <input type="datetime-local" id="end" name="end" class="form-control" required />

                    <button type="submit" class="btn btn-primary mt-3">Carregar</button>
                </form>

                {% if write|length > 0 %}
                <hr>
                <h5>Atuações</h5>
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Atuador</th>
                            <th>Valor</th>
                            <th>Horário</th>
                            <th>Origem</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for w in write %}
                        <tr>
                            <td>{{ w.actuator.device.name }}</td>  <!-- usar relação -->
                            <td>{{ w.value }}</td>
                            <td>{{ w.write_datetime }}</td>
                            <td>{{ w.origin.capitalize() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
