<!-- register_sensor.html -->
{% extends "base.html" %}

{% block content %}
<div class="vertical-center">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="card-body">
          <form action="{{ url_for('sensor_.add_sensor') }}" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="brand" class="form-label">Marca:</label>
              <input type="text" class="form-control" id="brand" name="brand" required>
            </div>
            <div class="mb-3">
              <label for="model" class="form-label">Modelo:</label>
              <input type="text" class="form-control" id="model" name="model" required>
            </div>
            <div class="mb-3">
              <label for="topic" class="form-label">Tópico MQTT:</label>
              <input type="text" class="form-control" id="topic" name="topic" required>
            </div>
            <div class="mb-3">
              <label for="unit" class="form-label">Unidade:</label>
              <input type="text" class="form-control" id="unit" name="unit" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="is_active" name="is_active">
              <label class="form-check-label" for="is_active">Ativo</label>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
