{% extends "base.html" %}

{% block content %}
<div class="vertical-center">
  <div class="container">
    <div class="card mt-4">
      <div class="card-header">
        <h5>Cadastrar Atuador</h5>
      </div>
      <div class="card-body">
        <form action="{{ url_for('actuators.add_actuator') }}" method="post">
          <div class="mb-3">
            <label for="atuador" class="form-label">Atuador:</label>
            <input type="text" class="form-control" id="atuador" name="atuador" placeholder="Nome do Atuador" required>
          </div>
          <div class="mb-3">
            <label for="valor" class="form-label">Valor:</label>
            <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor" required>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
