{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card mx-auto shadow" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Cadastrar Novo Usuário</h5>
        </div>
        <div class="card-body">
            <form action="{{ url_for('user.add_user') }}" method="post">
                <div class="mb-3">
                    <label for="user" class="form-label">Usuário</label>
                    <input type="text" id="user" name="user" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Função</label>
                    <select id="role" name="role" class="form-control" required>
                        <option value="operador">Operador</option>
                        <option value="estatistico">Estatístico</option>
                        <option value="comum">Usuário Comum</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

