{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>Deletar Atuador</h2>
  <form action="http://localhost:8081/del_actuator" method="post">
    <div class="mb-3">
      <label for="actuator" class="form-label">Selecione um atuador</label>
      <select name="id" id="actuator" class="form-select" required>
        {% for actuator in actuators %}
          <option value="{{ actuator.device.id }}">{{ actuator.device.name }} ({{ actuator.topic }})</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </form>
</div>
{% endblock %}

