{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>Deletar Sensor</h2>
  <form action="{{ url_for('sensor_.del_sensor') }}" method="post">
    <div class="mb-3">
      <label for="sensor" class="form-label">Selecione um sensor</label>
      <select name="id" id="sensor" class="form-select" required>
        {% for sensor in sensors %}
        <option value="{{ sensor.device_id }}">{{ sensor.device.name }} ({{ sensor.topic }})</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </form>
</div>
{% endblock %}
