{% extends "base.html" %}
{% block content %}
<div class="container mt-5 p-4" style="background-color: rgba(255, 255, 255, 0.95); border-radius: 10px;">
  <table class="table table-bordered">
    <thead>
      <tr><th>Nome</th><th>Marca</th><th>Modelo</th><th>Unidade</th><th>Tópico</th><th>Ativo</th>
        {% if current_user.role == 'admin' %}<th>Ações</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for s in sensors %}
      <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.brand }}</td>
        <td>{{ s.model }}</td>
        <td>{{ s.unit }}</td>
        <td>{{ s.topic }}</td>
        <td>{{ 'Sim' if s.is_active else 'Não' }}</td>
        {% if current_user.role == 'admin' %}
        <td>
          <a href="{{ url_for('sensor_.edit_sensor', id=s.device_id) }}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{{ url_for('sensor_.del_sensor', id=s.device_id) }}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if current_user.role == 'admin' %}
  <a href="{{ url_for('sensor_.register_sensor') }}" class="btn btn-success">Adicionar Sensor</a>
  {% endif %}
</div>
{% endblock %}
