{% extends "base.html" %}

{% block title %}Dados em Tempo Real{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Dados em Tempo Real</h2>
    <ul class="list-group">
        <!-- Exibição dos dados -->
        <li class="list-group-item">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/imagem3.png') }}" width="60" height="60" alt="Temperatura">
            </a>
            Temperatura: <span id="temperature">{{ values['temperature'] }} ºC</span>
        </li>
        <li class="list-group-item">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/imagem4.png') }}" width="60" height="60" alt="Umidade">
            </a>
            Umidade: <span id="humidity">{{ values['humidity'] }} %</span>
        </li>
        <li class="list-group-item">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/imagem5.png') }}" width="60" height="60" alt="Nivel de Ração">
            </a>
            Nível de Ração: <span id="nivel_racao">{{ values['nivel_racao'] }}</span>
        </li>
        <li class="list-group-item">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/imagem6.png') }}" width="60" height="60" alt="Movimento">
            </a>
            Movimento: <span id="movimento">{{ values['movimento'] }}</span>
        </li>
    </ul>
</div>
{% endblock %}

<!-- Scripts do SocketIO -->
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    // Conectar ao SocketIO
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // Receber os valores atualizados do servidor
    socket.on('update_values', function(data) {
        document.getElementById('temperature').innerHTML = data.temperature + " ºC";
        document.getElementById('humidity').innerHTML = data.humidity + " %";
        document.getElementById('nivel_racao').innerHTML = data.nivel_racao;
        document.getElementById('movimento').innerHTML = data.movimento;
    });
</script>

